<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>216922067475-qssc38e0j1jn2arkq0s5989gqjd07uv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216922067475-qssc38e0j1jn2arkq0s5989gqjd07uv1</string>
	<key>API_KEY</key>
	<string>AIzaSyCGjySBu12nNvzBMDBVydfVD_eL6HPO6EY</string>
	<key>GCM_SENDER_ID</key>
	<string>216922067475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.itesm.famc.ProyectoAM</string>
	<key>PROJECT_ID</key>
	<string>proyectoam-97b0b</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoam-97b0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:216922067475:ios:a58192e138f2993f</string>
	<key>DATABASE_URL</key>
	<string>https://proyectoam-97b0b.firebaseio.com</string>
</dict>
</plist>